
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header .logo {
  width: 50px;
  margin: -20px;
  cursor: default;
}

.nav a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: inherit;
  margin-left: 4rem;
  transition: .3s;
}
.nav a:hover,
.nav a.active {
  color: #881daf;
}

.main {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}


