@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* color-scheme: light dark; */
  --bg-color: #3a2b41;
  --second-bg-color: #201c20;
  --text-color: #fff;
  --background-image: url('');
  --pinkBear-color: #881daf;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: var(--text-color);
  display: grid;
  align-items: start;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}
#root {
  z-index: 100;
}
@media only screen and (max-width: 480px) {
  /* Adjust the layout for smartphones */
  body {
    display: flex;
    flex-direction: row-reverse;
  }
}

/* Styles for iPad-like devices */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* Adjust the layout for iPads and similar devices */
  body {
    display: flex;
    flex-direction: row-reverse;
  }
}


